<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
=======


>>>>>>> b361d4b (I worked on the Property Listing Card)
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Josefin San", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
<<<<<<< HEAD
    background-color: #fff !important;
=======
>>>>>>> b361d4b (I worked on the Property Listing Card)
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
<<<<<<< HEAD
=======

.wrapper {
  @apply container mx-auto xl:max-w-screen-xl max-w-screen-lg px-14 lg:px-5 xl:px-0;
}



>>>>>>> b361d4b (I worked on the Property Listing Card)
